<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <title>Pdf To Audio </title>
  </head>
  <body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="color: white" href="{% url 'home'%}">PDF TO AUDIO CONVERTER </a>
    </div>

    <ul class="nav navbar-nav ">
      {% if  request.session.login != 'Yes' %}
          <li ><a href="{% url 'home'%}">Home</a></li>
      {% endif %}
      {% if  request.session.type_id == 'User' %}
      <li ><a href="{% url 'home'%}">Home</a></li>
      <li ><a href="{% url 'PdfRead'%}">Read PDF</a></li>
      <li ><a href="{% url 'ListenPdf'%}">Listen PDF</a></li>

      {% endif %}
      </ul>
      
   
    {% if  request.session.login == 'Yes' %}
     <ul class="nav navbar-nav navbar-right">
     <li class="active"><a class=" text-white text-capitalize" href="{% url 'logout'%}">Logout</a></li>

     {% else %}
      <ul class="nav navbar-nav navbar-right">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-log-in"></span> &nbsp;Login <span class="caret"></span></a>
        <ul class="dropdown-menu  navbar-inverse" >
          <li><a  style="color: white;" href="{% url 'User_login'%}">User</a></li>
        </ul>

      </li>
      {% endif %}
    </ul>
    
  </div>
</nav>

{% block content%}
     

    {% endblock%}
    
    
   
     <footer class="text-right" style="padding: 10px 20px;background: #222222;color: white;height: 44px">
      <p style="font-size: small;">Company ©2020. All rights reserved.</p>
    </footer>
  </body>
</html>